@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* margin: 1.5em; */
    padding: 2em;
     font-family: "Bricolage Grotesque", sans-serif;
}
header{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
     margin-bottom: 2em;
    border-radius: 28px;
    width: 95vw;
     /* font-family: "Bricolage Grotesque", sans-serif; */
}
nav ul{
    /* border: 1px solid ; */
    list-style: none;
    display: flex;
    margin-top: 0.8em;
}
nav ul li a{
    text-decoration: none;
    margin: 2em;
    color: #000;
    font-weight: 700;
}
.logo{
    /* border: 1px solid green; */
    font-weight: bolder;
    font-size: larger;
    display: inline-block;
}
/* ---------------------HERO-DECTION------------------------- */
.herosection{
    /* border: 1px solid red; */
    background-color: #F9E6D0;
    /* margin: 3em; */
    border-radius: 28px;
    width: 95vw;
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
     overflow: hidden;
}
.hero-content{
    /* border: 1px solid green; */
    text-align: center;
    margin: 19em;
     /* font-family: "Bricolage Grotesque", sans-serif; */
}
.hero-content h1{
    /* border: 1px solid red; */
    font-size:55px;
}
.hero-content p{
    /* border: 1px solid red; */
    margin: 1.3em 4em 2.5em;
    font-size: 18px;
}
.hero-btn{
    background: #000;
    color: #fff;
    border-radius: 18px;
    padding: 0.7em 2.5em;
}
.hero-img1{
    position: absolute;
    right: 0.1%;
    bottom: 0%;
    overflow: hidden;
}
.hero-img2{
    position: absolute;
    left: 0.1%;
    bottom: 0.1%;
}
/* -----------------Section 1--------------------- */
.section1{
    border: 1px solid;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}
.section1-content{
    /* border: 1px solid green; */
    margin: 0 8.5em 0 0;
}
/* .para1{
    border: 1px solid;
} */
.section1-content h1{
    /* border: 1px solid; */
    font-size: 55px;
    margin: 0.6em 0;
}
.para2{
    font-size: 20px;
    margin: 0 4em 0 0;
}
.section-btn{
    margin: 3.5em 0;
    padding: 0.6em 7em;
    border-radius: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
}
.section1-card{
    /* border: 1px solid red; */
    background-color: #00373E;
    padding: 1.5em 2em 0;
    border-radius: 28px;
    position: relative;
}
/* -------------section2---------------------------- */
.section2{
    border: 1px solid;
    margin: 2em 0;
    /* display: flex;
    justify-content: center; */
}
.section2-content{
    border: 1px solid;
    text-align: center;
}
.section2-content h1{
    font-size: 50px;
    /* border: 1px solid; */
    margin: 0.2em 8em;
}
.para3, .para4{
    /* border: 1px solid; */
    margin: 0 20em;
    font-weight: 500;
    font-size: 20px;
}
.cards{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.card1,.card2{
    border: 1px solid;
    padding: 2em;
}
.cards .card-containt{
    border: 1px solid;
    padding: 2em 14em 2em 0;
    /* display: inline; */
}
.cards .para5,.para6{
    margin: 2em 0;
}
.btn{
    border: 1px solid;
    border-radius: 20px;
    padding: 0.6em 2.5em;
    display: inline;
}
